
@import "./base/variables";
@import "./components/header";
@import "./components/footer";

*{
    margin: 0;
    padding: 0;
}
.navbgcolor{
    background-color: nth($coloresch , 9);
    color: nth($coloresch, 8);

}

body{
    background-color: nth($coloresch , 9);

}
.colortxtlink{
    color: nth($coloresch, 6);
    &:hover{
        color: nth($coloresch, 7);
    }
}


.maintit{
    text-align: center;
    color: nth($coloresch , 2);
    font-size: 3.5em;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 700;
}
.btnhover{
    &:hover{
        color: nth($coloresch , 2);
    }
}

.mainpar{
    text-align: center;
    color: nth($coloresch , 2);
    font-size: 2em;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
}
.minitit{
    color: white;
    font-size: 1.8rem;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    padding-top: 3rem;
    padding-left: 3rem;

}
.grandtext{
    color: white;
    font-size: 60px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 600;
    padding-top: 3rem;
    padding-right: 3rem;

}
.secmenu{
        a{
        font-size: 80px;
        font-family: 'Sofia Sans Extra Condensed', sans-serif;
        color: #ACCCD1;
        font-weight: 500;
        font-style: oblique;


    }
}
.secnoline{
    font-size: 80px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: #ACCCD1;
    font-weight: 500;
    font-style: oblique;
}
.titulosobreimg{
    font-size: 70px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: #ACCCD1;
    font-weight: 300;
    font-style: oblique;

}
.titulosobreimg2{
    font-size: 40px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: #ACCCD1;
    font-weight: 300;
    font-style: oblique;

}
.foottit {
    color: white;
    font-size: 1rem;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 300;
  }

main {
    section {
            a{
            border-radius: 2px;
            padding: 10px 15px;
            text-decoration: none;
        }
    }
}